<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<title>find cat page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<h1 th:text="${title}">find page</h1>
	<p th:text="${msg}"></p>
	<table>
		<form action="/find" method="post">
			<tr><td>FIND:</td>
				<td><input type="text" name="fstr" size="20"
					th:value="${value}" />
				</td>
			</tr>
			<tr><td></td>><td><input type="submit" /></td></tr>
		</form>
	</table>
	<hr />
	<table>
		<tr><th>ID</th>
			<th>name</th>
			<th>mail</th>
			<th>age</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
		</tr>
	</table>
</body>
</html>